var/cache/
var/logs/
var/sessions/
app/config/parameters.php
img/p/
img/c/
img/m/
upload/
admin*/
themes/*/
!themes/mytheme/
node_modules/
.env
.DS_Store
Thumbs.db
src/
vendor/
classes/
controllers/
modules/
override/
cache/
config/
app/
bin/
tools/
install/
localization/
translations/
mails/
pdf/
webservice/
*.log
dev-ssl/
!themes/mytheme/config/theme.yml
!themes/mytheme/config/
